.au-card__icon {
  &:after {
    content: " ";
    @include AU-space(width, 1unit);
    @include AU-space(height, 1unit);
    @include AU-space(bottom, 1unit);
    @include AU-space(right, 1unit);

    position: absolute;
    display: block;
    transition: right 0.2s ease;
    background-image: AU-svguri(
      '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14">' +
        '<path fill="#{$AU-color-foreground-action}" fill-rule="evenodd" d="M7.1153041,0 L8.61538462,1.47577158 L3.961,6.054 L16,6.05412256 L16,7.87035933 L3.885,7.87 L8.61538462,12.5242284 L7.1153041,14 L0,7 L7.1153041,0 Z" transform="rotate(-180 8 7)"/>' +
        "</svg>"
    );
    background-repeat: no-repeat;
  }
}

.au-card:hover {
  .au-card__icon {
    &:after {
      content: " ";
      @include AU-space(width, 1unit);
      @include AU-space(height, 1unit);
      @include AU-space(bottom, 1unit);
      @include AU-space(right, 0.75unit);

      position: absolute;
      display: block;
      transition: right 0.2s ease;
      background-image: AU-svguri(
        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14">' +
          '<path fill="#{$AU-color-foreground-action}" fill-rule="evenodd" d="M7.1153041,0 L8.61538462,1.47577158 L3.961,6.054 L16,6.05412256 L16,7.87035933 L3.885,7.87 L8.61538462,12.5242284 L7.1153041,14 L0,7 L7.1153041,0 Z" transform="rotate(-180 8 7)"/>' +
          "</svg>"
      );
      background-repeat: no-repeat;
    }
  }

  .au-card__icon-key {
    &:after {
      content: " ";
      @include AU-space(width, 2unit);
      @include AU-space(height, 2unit);
      @include AU-space(bottom, 1unit);
      @include AU-space(left, 1.25unit);
      border-radius: $AU-border-radius;

      position: absolute;
      display: block;
      transition: right 0.2s ease;
      background-image: AU-svguri(
        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14">' +
          '<path fill="#{$AU-color-foreground-action}" fill-rule="evenodd" d="M7.1153041,0 L8.61538462,1.47577158 L3.961,6.054 L16,6.05412256 L16,7.87035933 L3.885,7.87 L8.61538462,12.5242284 L7.1153041,14 L0,7 L7.1153041,0 Z" transform="rotate(-180 8 7)"/>' +
          "</svg>"
      );
      background-repeat: no-repeat;
      background-size: 16px;

      background-position: 50%;

      background-color: rgba(0, 115, 236, 0.1);
    }
  }
}

.card-footer {
  @include AU-space(padding, 1unit 0);

  &__text {
    position: absolute;
    @include AU-space(bottom, 1unit);
  }
}

.au-card--clickable__link {
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
  }
}

.inline {
  display: inline;
}
