//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// GLOBAL VARIABLES
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
$AU-grid-12-columns: 12 !default; //column amounts
$AU-grid-12-gutter-width: 24px !default; //gutter space

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Mixins and grid class generation
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
/**
 * Iterates through all 12 columns (≥2) to calculate the correct amount of left
 * and right padding for each of the classes.
 */
@mixin AU-grid-12-make-grid-columns(
  $i: 1,
  $list: ".col-xs-#{ $i }, .col-sm-#{ $i }, .col-md-#{ $i }, .col-lg-#{ $i }"
) {
  @for $i from (1 + 1) through $AU-grid-12-columns {
    $list: "#{ $list }, .col-xs-#{ $i }, .col-sm-#{ $i }, .col-md-#{ $i }, .col-lg-#{ $i }";
  }

  #{ $list } {
    box-sizing: border-box; //we can’t assume that has been added on * {}
    position: relative;
    min-height: 1px;
    padding-left: ceil(($AU-grid-12-gutter-width / 2));
    padding-right: floor(($AU-grid-12-gutter-width / 2));
  }
}

/**
 * Iterates through the columns to create a new list and then sets the float.
 */
@mixin AU-grid-12-float-grid-columns(
  $class,
  $i: 1,
  $list: ".col-#{ $class }-#{ $i }"
) {
  @for $i from (1 + 1) through $AU-grid-12-columns {
    $list: "#{ $list }, .col-#{ $class }-#{ $i }";
  }

  #{ $list } {
    float: left;
  }
}

/**
 * Calculates the correct widths as a percentage based on the column count,
 * column breakpoint class, and type (pull or offset).
 */
@mixin AU-grid-12-calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .col-#{ $class }-#{ $index } {
      width: percentage(($index / $AU-grid-12-columns));
    }
  }

  @if ($type == push) and ($index > 0) {
    .col-#{ $class }-push-#{ $index } {
      left: percentage(($index / $AU-grid-12-columns));
    }
  }

  @if ($type == push) and ($index == 0) {
    .col-#{ $class }-push-0 {
      left: auto;
    }
  }

  @if ($type == pull) and ($index > 0) {
    .col-#{ $class }-pull-#{ $index } {
      right: percentage(($index / $AU-grid-12-columns));
    }
  }

  @if ($type == pull) and ($index == 0) {
    .col-#{ $class }-pull-0 {
      right: auto;
    }
  }

  @if ($type == offset) {
    .col-#{ $class }-offset-#{ $index } {
      margin-left: percentage(($index / $AU-grid-12-columns));
    }
  }
}

/**
 * Calls the above mixins and combines them.
 */
@mixin AU-grid-12-loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include AU-grid-12-calc-grid-column($i, $class, $type);
  }
}

/**
 * Finally, we create the grid and all the necessary classes.
 */
@mixin AU-grid-12-make-grid($class) {
  @include AU-grid-12-float-grid-columns($class);
  @include AU-grid-12-loop-grid-columns($AU-grid-12-columns, $class, width);
  @include AU-grid-12-loop-grid-columns($AU-grid-12-columns, $class, pull);
  @include AU-grid-12-loop-grid-columns($AU-grid-12-columns, $class, push);
  @include AU-grid-12-loop-grid-columns($AU-grid-12-columns, $class, offset);
}

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Implementation of the Bootstrap 3 grid
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

@mixin AU-media($breakpoint) {
  @if type-of($breakpoint) != "string" {
    @error "Captain I’m giving it all she’s got but; the AU-media mixin only takes a string!";
  }

  @if $breakpoint !=
    "xs" and
    $breakpoint !=
    "sm" and
    $breakpoint !=
    "md" and
    $breakpoint !=
    "lg" and
    $breakpoint !=
    "xl"
  {
    @error "There’s no crying in baseball; the AU-media mixin only takes the following breakpoint strings: xs, sm, md, lg, xl";
  }

  @if ($breakpoint == "xs") {
    @media (min-width: $AU-media-xs) {
      @content;
    }
  }

  @if ($breakpoint == "sm") {
    @media (min-width: $AU-media-sm) {
      @content;
    }
  }

  @if ($breakpoint == "md") {
    @media (min-width: $AU-media-md) {
      @content;
    }
  }

  @if ($breakpoint == "lg") {
    @media (min-width: $AU-media-lg) {
      @content;
    }
  }

  @if ($breakpoint == "xl") {
    @media (min-width: $AU-media-xl) {
      @content;
    }
  }
}

.au-grid {
  //create container that snaps to breakpoints
  .container {
    box-sizing: border-box;

    @include AU-media(sm) {
      width: ($AU-media-sm - $AU-grid-12-gutter-width);
    }

    @include AU-media(md) {
      width: ($AU-media-md - $AU-grid-12-gutter-width);
    }

    @include AU-media(lg) {
      width: ($AU-media-lg - $AU-grid-12-gutter-width);
    }

    @include AU-media(xl) {
      width: ($AU-media-xl - $AU-grid-12-gutter-width);
    }
  }

  //create both containers
  .container,
  .container-fluid {
    box-sizing: border-box;

    @include AU-clearfix;

    margin-right: auto;
    margin-left: auto;
    padding-left: floor(($AU-grid-12-gutter-width / 2));
    padding-right: ceil(($AU-grid-12-gutter-width / 2));
  }

  //create row and clear floats inside
  .row {
    @include AU-clearfix;

    margin-left: ceil(($AU-grid-12-gutter-width / -2));
    margin-right: floor(($AU-grid-12-gutter-width / -2));
  }

  //create all classes
  @include AU-grid-12-make-grid-columns;

  //create xs classes
  @include AU-grid-12-make-grid(xs);

  //create sm classes
  @include AU-media(sm) {
    @include AU-grid-12-make-grid(sm);
  }

  //create md classes
  @include AU-media(md) {
    @include AU-grid-12-make-grid(md);
  }

  //create lg classes
  @include AU-media(lg) {
    @include AU-grid-12-make-grid(lg);
  }

  @include AU-media(xl) {
    @include AU-grid-12-make-grid(xl);
  }
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  @include AU-space(margin-top, 1unit);
}

.mt-2 {
  margin-top: 16px i !important;
  margin-top: 2rem !important;
}

.mt-half {
  @include AU-space(margin-top, 0.5unit);
}

.pt-1 {
  @include AU-space(padding-top, 1unit);
}

.pb-1 {
  @include AU-space(padding-bottom, 1unit);
}

.block {
  display: block;
}

.ml-1 {
  @include AU-space(margin-left, 1unit);
}

.max-42,
.au-label,
.au-hint-text {
  @include AU-space(max-width, 42unit);
}

.max-30 {
  @include AU-space(max-width, 30unit);
}
