$AU-media-xs: 0px;
$AU-media-sm: 576px;
$AU-media-md: 768px;
$AU-media-lg: 992px;
$AU-media-xl: 1200px;
$AU-main-nav-breakpoint: sm;

@import "auds/auds.scss";

@import "grid";
@import "footer";
@import "card";

.au-grid .container-fluid {
  @include AU-space(max-width, 70unit);

  @media screen and (min-width: 1400px) {
    @include AU-space(max-width, 80unit);
  }

  @include AU-media(sm) {
    @include AU-space(padding-left, 2unit);
    @include AU-space(padding-right, 2unit);
  }
}

main > .au-body {
  @include AU-space(padding, 2unit 0);
  @include AU-media(md) {
    @include AU-space(padding, 3unit 0);
  }
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
  @include AU-space(padding-right, 1unit);
}
