<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/designsystem.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Document</title>
</head>

<body class="au-grid">
    {{> nav}}

    <main class="au-body">

        {{#if success_alert}}
        <div class="container-fluid">
            <div class="au-body au-page-alerts au-page-alerts--success max-30">
                <h3>Success</h3>
                <p>{{success_alert}}</p>
            </div>
        </div>
        {{/if}}
        {{#if errors}}
        <div class="container-fluid  mt-2">
            <div class="au-body au-page-alerts au-page-alerts--error max-30">
                <h3>There was an error</h3>
                <ul>
                    {{#each errors}}
                    <li><a href="#{{this.path}}">{{this.message}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/if}}
        {{{body}}}
    </main>
</body>

</html>