<div class="au-body container">
    <h1>403 Unauthorised</h1>

    {{#if errorMessage}}
    <div class="au-body au-page-alerts au-page-alerts--error">
        <h3>There was an error: 403</h3>
        <p>{{errorMessage}}</p>
    </div>

    {{/if}}
</div>