<div class="au-body container-fluid">

    {{#if errorMessage}}

    <div class="au-body au-page-alerts au-page-alerts--error max-30">
        <h3>Error</h3>
        {{errorMessage}}
    </div>

    {{/if}}

    {{#if alert}}

    <div class="au-body au-page-alerts au-page-alerts--info max-30">
        <h3>Notice</h3>
        {{alert}}
    </div>

    {{/if}}
</div>