<div class="container-fluid">
    <h1>Error</h1>
    {{#if errorMessage}}
    <div class="au-body au-page-alerts au-page-alerts--error">
        <h3>Error</h3>
        {{errorMessage}}
    </div>
    {{/if}}
</div>