<div class="au-body container-fluid">

    {{#if errorMessage}}
    <div class="au-body au-page-alerts au-page-alerts--error max-30">
        <h3>There was an error</h3>
        {{errorMessage}}
    </div>
    {{/if}}

    <h1>Login</h1>

    <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
            <form action="/login" method="POST">
                <div class="au-form-group">
                    <label class="au-label" for="email">Email</label>
                    <input type="text" class="au-text-input au-text-input--block" name="email" id="email"
                        value="{{form.email}}" />
                </div>
                <div class="au-form-group">
                    <label class="au-label" for="password">Password</label>
                    <input type="text" class="au-text-input au-text-input--block" name="password" id="password" />
                </div>
                <div class=" au-form-group">
                    <button class="au-btn" type="submit">Login</button>
                </div>
            </form>
            <a href="/forgot-password">Forgot your password?</a>
        </div>
    </div>
</div>