<div class="container-fluid au-body">
    <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
            <h1>Register new account</h1>

            {{#if errorMessage}}
            <div class="au-body au-page-alerts au-page-alerts--error">
                <h3>Notice</h3>
                {{errorMessage}}
            </div>
            {{/if}}


            <form method="post" action="/register">
                <div class="au-form-group">
                    <label class="au-label" for="name">Name</label>
                    <input type="text" class="au-text-input au-text-input--block" name="name" id="name"
                        value="{{form.name}}" />
                </div>
                <div class="au-form-group">
                    <label class="au-label" for="email">Email</label>
                    <input type="text" class="au-text-input au-text-input--block" name="email" id="email"
                        value="{{form.email}}" />
                </div>
                <div class="au-form-group">
                    <label class="au-label" for="password">Password</label>
                    <input type="text" class="au-text-input au-text-input--block" name="password" id="password" />
                </div>
                <div class=" au-form-group">
                    <button class="au-btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="javascript/form.js">
</script>