<div class="container-fluid au-body">
    <h1>Reset your password</h1>
    <form action="/reset-password" method="POST" class="mt-2">
        <div class="au-form-group">
            <label class="au-label" for="password">Password</label>
            <input type="text" class="au-text-input au-text-input--width-xl" name="password" id="password" />
        </div>
        <div class="au-form-group">
            <input type="hidden" name="key" id="key" value={{uniqueId}} />
        </div>
        <div class=" au-form-group">
            <button class="au-btn" type="submit">Reset</button>
        </div>
    </form>
</div>