.footer__affiliate {
  @include AU-fontgrid(xs);

  .au-cta-link {
    @include AU-fontgrid(xs);
    display: inline-block;
    font-weight: normal;
    margin-top: 0;

    &:after {
      content: "";
      @include AU-space(width, 0.75unit);
      @include AU-space(height, 0.75unit);
      @include AU-space(margin-left, 0.25unit);
      display: inline-block;
      vertical-align: middle;
    }

    &:hover:after {
      @include AU-space(margin-left, 0.5unit);
    }
  }

  @include AU-media(md) {
    @include AU-space(padding, 0.5unit 0 0.5unit 1unit);
    border-left: solid 1px $AU-colordark-foreground-border;

    span {
      display: block;
    }
  }
}

.footer__affiliate-link {
  @include AU-media(md) {
    @include AU-space(margin-top, 0.5unit);
  }
}

.au-footer {
  @include AU-space(padding, 3unit 0);
  border-top: none;

  a {
    //lighten footer link colours
    color: lighten(
      $color: $AU-colordark-foreground-action,
      $amount: 10%
    ) !important;
  }

  .au-link-list {
    @include AU-space(padding, 2unit 0 1unit 0);
    @include AU-space(margin-top, -0.5unit);
    @include AU-clearfix();
    width: 100%;

    & > li {
      width: 50%;
      float: left;
      margin: 0;

      @include AU-media(md) {
        display: inline-block;
        width: auto;
        float: none;
        @include AU-space(margin-right, 2unit);
      }
    }
  }
}
