.au-hint-text {
  @include AU-space(max-width, 42em);
}

.au-form-group,
.au-form-group + .au-form-group,
.au-page-alerts {
  @include AU-space(margin-top, 2unit);
}

.max-42,
.au-label,
.au-hint-text {
  max-width: 42rem !important;
  max-width: 672px !important;
}

.max-30 {
  @include AU-space(max-width, 30unit);
}

#newsletter-form {
  @include AU-space(margin-top, 3unit);

  position: relative;
  label {
    position: absolute;
    top: -30px;
  }
}

.form-submitted {
  color: $AU-color-success;
}

.au-search.au-search--dark .au-search__btn {
  border: none !important;
}

.au-text-input.au-text-input--dark:invalid,
.au-text-input:invalid {
  border: 3px solid gray !important;
  border-top-color: gray !important;
  border-right-color: gray !important;
  border-bottom-color: gray !important;
  border-left-color: gray !important;
  background-color: #ffffff !important;
}

.fieldset-group {
  @include AU-space(padding, 1.5unit 1unit);
  @include AU-space(margin-top, 1unit);
  background-color: darken($color: #fcfcfc, $amount: 1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 42em;
  border-radius: $AU-border-radius;
  border: 2px solid lightgrey;

  .au-hint-text {
    color: darken($AU-color-foreground-hint, 2);
  }

  + .fieldset-group {
    @include AU-space(margin-top, 2unit);
  }
}

.au-text-input--invalid {
  background-color: #fff !important;
}
